body {
    background: url('scene-light-hands-concert-1800x2880.jpg') center no-repeat;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    color: rgb(229, 126, 33);
    width: 100%;
    overflow-x: hidden;
}

#banner {
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 5px solid #D55101;
    background: #fff;
    -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    z-index: 999999;
}

    #banner h1 {
        line-height: 100px;
        position: absolute;
        top: -20px;
    }


.logo img {
    position: fixed;
    top: 0;
    left: 45%;
    width: 100px;
    height: 100px;
}

.flyout {
    width: 75%;
    height: 100%;
    margin-top: 150px;
    margin-left: 10%;
    font-size: 11px;
    position: relative;
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    background-color: white;
    padding: 9px 11px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #c5c5c5;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

    .flyout #tip {
        background-image: url('images/tip.png');
        background-repeat: no-repeat;
        background-size: auto;
        height: 11px;
        position: absolute;
        top: -11px;
        left: 25px;
        width: 20px;
    }

    .flyout .tbWrap {
        border-bottom: 1px solid #dcdbda;
        height: 105px;
        margin-left: 5px;
    }

.textbox {
    width: 60%;
    margin-top: 10px;
    height: 2.5em;
    background-color: transparent;
    border-style:solid;
    border-width: 0px 0px 1px 0px;
    border-color: #D55101;
    color: rgb(229, 126, 33);
    outline: 0;
    padding-top: 10px;
    font-size: 2.5em;
    line-height: 1.5em;
}

.applewrap {
    position: relative;
    left: 15px;
    width: 100%;
    height: 500px;
    background: white;
    border: 1px solid;
    border-color: #e5e5e5 #dbdbdb #d2d2d2;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}


    .applewrap .col {
        box-sizing: border-box;
        height: 500px;
        padding: 16px 7px 6px 22px;
        font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
        color: #343434;
        border-right: 1px solid #dadada;
    }

.maps {
    padding: 0;
    /*height: 500px;*/
    width: 100%;
}

    .maps img {
        width: 100%;
        height: 100%;
    }

*::-webkit-input-placeholder {
    color: rgba(229, 126, 33, 0.5);
}

*:-moz-placeholder {
    /* FF 4-18 */
    color: rgba(229, 126, 33, 0.5);
}

*::-moz-placeholder {
    /* FF 19+ */
    color: rgba(229, 126, 33, 0.5);
}

*:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(229, 126, 33, 0.5);
}
